/* Estilos generales para el cuerpo de la página */
body {
    padding: 0px;
    margin: 0px;
    font-family: Inter, Coolvetica, Museo-Moderno, sans-serif;
}

/* Estilos para la barra de navegación */
nav.nav {
    position: fixed;
    top: 0;
    padding: 5px;
    width: 100vw;
}

/* Estilos para el título en la barra de navegación */
.nav>h1 {
    font-weight: 400;
    color: white;
    font-size: 15px;
    font-family: MuseoModerno;
    margin-top: 12px;
    margin-left: 12px;
    opacity: 0;
}

/* Estilos para contenedores con disposición en flex */
.flex {
    display: flex;
}

/* Hace que los elementos hijos de un contenedor se ordenen en dirección columna */
.flex-col {
    flex-direction: column;
}

/* Asegura que un elemento ocupe al menos el alto total de la ventana */
.min-h-screen {
    min-height: 100vh;
}

/* Estilos de fondo para el contenedor principal */
.main-bg {
    background-image: url(/Assets/binevenida.png);
    background-position: center;
    background-size: cover;
}

/* Centrar elementos hijos horizontalmente en un contenedor flex */
.justify-center {
    justify-content: center;
}

/* Centrar elementos hijos verticalmente en un contenedor flex */
.items-center {
    align-items: center;
}

/* Estilo de texto con fondo amarillo y texto transparente */
.clean-hand {
    position: relative;
    font-size: 30px;
    right: 62px;
    bottom: 20px;
}

/* Estilo para palabras con peso tipográfico ligero */
.light-weight {
    font-weight: 400;
}

/* Degradado para el encabezado */
.header-gradient{
    background: linear-gradient(288deg, #555555 20.08%, #ffffff 200%);
    margin-left: -33px;
    margin-top: -83px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
}

/* Estilo para el texto con degradado rosa */
.pink {
    background: linear-gradient(278deg, #b27ecc 4.08%, #9A23D6 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Contenedor del campo de entrada (input) */
.input-container{
    display: flex;
    margin: 20px;
    height: 50px;
    width: 260px;
    position: relative;
    margin-bottom:320px;
}

/* Etiqueta del campo de entrada */
.label{
    font-family: inter;
    position: absolute;
    left: 10px;
    top: 18px;
    transition: all 0.2s;
    padding: 0 2px;
    z-index: 1;
    color: #b3b3b3;
}

/* Estilo del campo de entrada de texto */
.text-input{
    padding: 15px;
    width: 250px;
    height: 25px;
    border: 1px solid #9D9C9C;
    background: transparent;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    transition: all .3s;
    color: #fff;
}

/* Línea decorativa debajo de la etiqueta del input */
.label::before{
    content: "";
    height: 5px;
    background-color: #120618;
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    z-index: -1;
}

/* Estilos al enfocar el campo de entrada */
.text-input:focus{
    border: 2px solid #ffffff;
}

/* Estilo de animación para la etiqueta al enfocar el input */
.text-input:focus+.label,
.filled{
    top: -10px;
    color: #ffffff;
    font-size: 14px;
}

/* Opacidad y animación para el texto de marcador de posición */
.text-input::placeholder{
    font-size: 16px;
    opacity: 0;
    transition: all .3s;
}

/* Opacidad al enfocar el campo de entrada */
.text-input:focus::placeholder{
    opacity: 1;
    animation-delay: 0.2s;
}

/* Ajustes de estilo si el input está lleno */
.text-input:focus+label,
.text-input:valid+label{
    top: -10px;
    color: #f5f5f5;
    font-size: 14px;
}

/* Estilo para el botón de búsqueda */
.searchbtn{
    font-size: 18px;
    margin-left: 220px;
    margin-top: 20px;
    position: absolute;
    background-color: transparent;
    color: #9D9C9C;
    border: none;
}


/* Editando javascript a partir de ahora /*

/* Estilo para el contenedor desplegable */
.dropdown {
    margin-top: 78px;
    position: absolute;
    display: none; /* inicialmente oculto */
    width: 254px;
    max-height: 213px;
    overflow-y: auto;
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #fff;
    border-radius: 0px;

}

/* Estilo para cada resultado en el desplegable */
.result {
    display: flex; /* Cambia el tipo de display a flex */
    align-items: center; /* Centra verticalmente los elementos */
    padding: 10px;
    border-bottom: 1px solid #eee;
}


/* Ajustes para el último resultado del desplegable */
.result:last-child {
    border-bottom: none;
}

/* Estilo para las imágenes dentro de los resultados */
.result img {
    width: 46px;
    height: 46px;
    border-radius: 9px;
    margin-right: 11px;
}

/* Estilo para el nombre de la canción */
.song-title {
    font-weight: 700;
    font-size: 13px;
    color: #ffffff; /* Color de texto oscuro */
}

/* Estilo para el nombre del artista */
.song-artist {
    font-size: 13px;
    font-weight: 400;
    color: #ffffff; /* Color de texto más claro */
}
.modal {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none; 
    background: url(/Assets/binevenida.png);
}
.modal-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.modal-wrapper > h1{
       background: linear-gradient(288deg, #555555 20.08%, #ffffff 200%);
       background-clip: text;
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       margin-top: -82px;
       margin-bottom: 80px;
}

.modal-wrapper > h2{
    font-size: 24px;
    font-weight: 700;
    color: #9D9C9C;
    margin-bottom: 10px;
}
.modal-wrapper > p{
color: #9D9C9C;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
margin-top: -10px;
}
