/* Estilos generales para el cuerpo de la página */
body {
    padding: 0px;
    margin: 0px;
    font-family: Inter, Coolvetica, Museo-Moderno, sans-serif;
}

/* Estilos para contenedores con disposición en flex */
.flex {
    display: flex;
}

/* Hace que los elementos hijos de un contenedor se ordenen en dirección columna */
.flex-col {
    flex-direction: column;
}

/* Asegura que un elemento ocupe al menos el alto total de la ventana */
.min-h-screen {
    min-height: 100vh;
}

/* Estilos de fondo para el contenedor principal */
.main-bg {
    background-image: url(/Assets/binevenida.png);
    background-position: center;
    background-size: cover;
}

/* Centrar elementos hijos horizontalmente en un contenedor flex */
.justify-center {
    justify-content: center;
}

/* Centrar elementos hijos verticalmente en un contenedor flex */
.items-center {
    align-items: center;
}.end-party {
    position: absolute; /* Mantén esta propiedad para la posición absoluta */
    bottom: 20px; /* Ajusta la posición vertical según sea necesario */
    padding: 1rem 2rem;
    border-radius: .5rem;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    color: #f4f0ff;
    text-align: center;
    backdrop-filter: blur(10px);
    cursor: pointer;
  }
  
  .end-party::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    background: linear-gradient(180deg, #51087e00 0%, #51087e6b 100%), #8d2fff3d;
    box-shadow: inset 0 0 12px #e797ff70;
    z-index: -1;
  }
  
  .end-party::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #4b087e00 0%, rgba(71, 8, 126, 0.42) 100%), rgba(182, 47, 255, 0.24);
    box-shadow: inset 0 0 12px rgba(212, 151, 255, 0.44);
    border-radius: .5rem;
    opacity: 0;
    z-index: -1;
    transition: all .3s ease-in;
  }
  
  .end-party:hover::after {
    opacity: 1;
  }
  
  .end-party-border {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    z-index: -1;
  }
  
  .end-party-border::before {
    content: "";
    position: absolute;
    border-radius: .5rem;
    padding: 1px;
    inset: 0;
    background: linear-gradient(180deg, rgba(225, 184, 255, 0.24) 0%, rgba(224, 184, 255, 0) 100%), linear-gradient(0deg, rgba(229, 184, 255, 0.32), rgba(229, 184, 255, 0.32));
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    pointer-events: none;
  }
  
  .end-party {
    -webkit-tap-highlight-color: transparent;
  }
  
  .end-party:active {
    transform: scale(.96);
  }
  /* arranca el switch */
.switch-button {
  position: fixed;
  top: 10px; /* Ajusta la distancia desde la parte superior */
  left: 10px; /* Ajusta la distancia desde la izquierda */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin: auto;

  height: 50px;
}

.switch-button .switch-outer {
  height: 100%;
  background: #252532;
  width: 115px;
  border-radius: 165px;
  -webkit-box-shadow: inset 0px 5px 10px 0px #16151c, 0px 3px 6px -2px #403f4e;
  box-shadow: inset 0px 5px 10px 0px #16151c, 0px 3px 6px -2px #403f4e;
  border: 1px solid #32303e;
  padding: 6px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.switch-button .switch-outer input[type="checkbox"] {
  opacity: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.switch-button .switch-outer .button-toggle {
  height: 35px;
  width: 35px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#3b3a4e),
    to(#272733)
  );
  background: -o-linear-gradient(#3b3a4e, #272733);
  background: linear-gradient(#3b3a4e, #272733);
  border-radius: 100%;
  -webkit-box-shadow: inset 0px 5px 4px 0px #424151, 0px 4px 15px 0px #0f0e17;
  box-shadow: inset 0px 5px 4px 0px #424151, 0px 4px 15px 0px #0f0e17;
  position: relative;
  z-index: 2;
  -webkit-transition: left 0.3s ease-in;
  -o-transition: left 0.3s ease-in;
  transition: left 0.3s ease-in;
  left: 0;
}

.switch-button
  .switch-outer
  input[type="checkbox"]:checked
  + .button
  .button-toggle {
  left: 58%;
}

.switch-button
  .switch-outer
  input[type="checkbox"]:checked
  + .button
  .button-indicator {
  -webkit-animation: indicator 1s forwards;
  animation: indicator 1s forwards;
}

.switch-button .switch-outer .button {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.switch-button .switch-outer .button-indicator {
  height: 25px;
  width: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 50%;
  border: 3px solid #ef565f;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  right: 10px;
  position: relative;
}

@-webkit-keyframes indicator {
  30% {
    opacity: 0;
  }

  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    border: 3px solid #60d480;
    left: -68%;
  }
}

@keyframes indicator {
  30% {
    opacity: 0;
  }

  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    border: 3px solid #60d480;
    left: -68%;
  }
}