body {
    padding: 0px;
    margin: 0px;
    font-family: Inter, Coolvetica, Museo-Moderno, sans-serif;

}

nav.nav {
    position: fixed;
    top: 0;
    padding: 5px;
    width: 100vw;
}
.nav>h1 {
    font-weight: 400;
    color: white;
    font-size: 15px;
    font-family: MuseoModerno;
    margin-top: 12px;
    margin-left: 12px;
    /* recomendacion de chona, sacar el nav */
    opacity: 0;
}
.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.min-h-screen {
    min-height: 100vh;
}
.main-bg {

    background-image: url(/Assets/binevenida.png);
   /* background: linear-gradient(134deg, rgba(200, 176, 212, 0.20) 0%, rgba(17, 5, 23, 0.20) 80.21%), radial-gradient(95.74% 140.04% at 188.67% 125.41%, rgba(190, 164, 202, 0.00) 0%, #110517 100%), radial-gradient(101.21% 104.58% at 134.13% 134.71%, rgba(211, 187, 217, 0.00) 0%, #110517 100%), radial-gradient(101.21% 104.58% at 134.13% 134.71%, rgba(206, 181, 212, 0.00) 0%, #110517 100%), radial-gradient(101.21% 104.58% at 134.13% 134.71%, rgba(194, 169, 201, 0.00) 0%, #110517 100%), radial-gradient(101.21% 104.58% at 134.13% 134.71%, rgba(210, 181, 200, 0.00) 0%, #110517 100%);
    background-blend-mode: normal, darken, darken, darken, darken, darken;
    */
    background-position: center;
    background-size: cover;
    max-width: max-content;
    max-height: max-content;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}

/* titulo palabras bold */
.light-weight {
    font-weight: 400;
}
/* titulo*/
.header-gradient{
    background: linear-gradient(288deg, #555555 20.08%, #ffffff 200%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 32px;
    margin-right: 20px;
    margin-top: -120px;
    text-align: left;
}
/* titulo crescendo rosa */
.pink {
    background: linear-gradient(278deg, #b27ecc 4.08%, #9A23D6 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* parrafo */
.color-gray {
    font-size: 12px;
    padding: 18px;
    text-align: center;
    color: #9D9C9C;
    margin-left: 18px;
    margin-top: -20px;
    text-align: left;
}

div>form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form > input {
    width: 250px;
    height: 50px;
    border: 3px solid #9D9C9C;
    border-radius: 5px;
    margin: 20px;
    padding: 5px;
    background-color: transparent;
    font-size: 1rem;
    color: white;
    outline: none;
}


/* input usuario */
.input-container{
    display: flex;
    margin: 20px;
    height: 50px;
    width: 260px;
    position: relative;
}
/* texto usuario */
.label{
    font-family: inter;
    position: absolute;
    left: 10px;
    top: 18px;
    transition: all 0.2s;
    padding: 0 2px;
    z-index: 1;
    color: #b3b3b3;
}
/* texto ingresa tu usuario */
.text-input{
    padding: 15px;
    width: 250px;
    height: 25px;
    border: 1px solid #9D9C9C;
    background: transparent;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    transition:all .3s;
    color: #fff;
}
/* cuadradito abajo de Usuario */
.label::before{
content: "";
height: 5px;
background-color: #120618;
position: absolute;
left: 0;
top: 10px;
width: 100%;
z-index: -1;
}
/* borde al clickear */
.text-input:focus{
    border: 2px solid #ffffff;
}
/* texto al clickear */
.text-input:focus+.label,
.filled{
    top: -10px;
    color: #ffffff;
    font-size: 14px;
}
/* animacion de ingresa tu usuario */
.text-input::placeholder{
    font-size: 16px;
    opacity: 0;
    transition: all .3s;
}
/* opacidad ingresar usuario */
.text-input:focus::placeholder{
    opacity: 1;
    animation-delay: 0.2s;
}

/* esto hace que si tiene algo 
escrito el usuario se quede arriba */
.text-input:focus+label,
.text-input:valid+label{
    top: -10px;
    color: #f5f5f5;
    font-size: 14px;
}
/* termina input usuario */

/* arranca input contraseña */

/* input contraseña */
.input1-container1{
    display: flex;
    margin: 20px;
    height: 50px;
    width: 260px;
    position: relative;
}
/* texto contraseña */
.label1{
    font-family: inter;
    position: absolute;
    left: 10px;
    top: 18px;
    transition: all 0.2s;
    padding: 0 2px;
    z-index: 1;
    color: #b3b3b3;
}
/* texto ingresa tu usuario */
.text1-input1{
    padding: 15px;
    width: 250px;
    height: 25px;
    border: 1px solid #9D9C9C;
    background: transparent;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    transition:all .3s;
    color: #fff;
}
/* cuadradito abajo de Usuario */
.label1::before{
content: "";
height: 5px;
background-color: #120618;
position: absolute;
left: 0;
top: 10px;
width: 100%;
z-index: -1;
}
/* borde al clickear */
.text1-input1:focus{
    border: 2px solid #ffffff;
}
/* texto al clickear */
.text1-input1:focus+.label1,
.filled{
    top: -10px;
    color: #ffffff;
    font-size: 14px;
}
/* animacion de ingresa tu usuario */
.text1-input1::placeholder{
    font-size: 16px;
    opacity: 0;
    transition: all .3s;
}
/* opacidad ingresar usuario */
.text1-input1:focus::placeholder{
    opacity: 1;
    animation-delay: 0.2s;
}

/* esto hace que si tiene algo 
escrito el usuario se quede arriba */
.text1-input1:focus+.label1,
.text1-input1:valid+.label1{
    top: -10px;
    color: whitesmoke;
    font-size: 14px;
}

/* termina input contraseña */




/* no tenes cuenta? registrate */
p.m-2 {
    font-size: 14px;
    margin-top: -12px;
    color: #9D9C9C;
    font-family: inter;
    font-weight: 700;
}
/* registrarme link */
.registrar-link {
    color: #9A23D6;
    font-family: inter, sans-serif;
    font-weight: 600;

}

/* iniciar fiesta*/
.login-cta {
    position: absolute;
    box-shadow: 0 0 5px #3E2F45,
    0 0 25px #3E2F45;
    width: 195px;
    height: 50px;
    border: none;
    border-radius: 15px;
    background: linear-gradient(87deg, #9A2BD2 0%, #9D9C9C 250.25%);
    color: #fff;
    cursor: pointer;
    margin-top: 370px;
    font-size: 24px;
}

/* key frames */
