
body {
    padding: 0px;
    margin: 0px;
    font-family: Inter, Coolvetica, Museo-Moderno, sans-serif;

}
.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.min-h-screen {
    min-height: 100vh;
}
.main-bg {

    background-image: url(/Assets/binevenida.png);
    background-position: center;
    background-size: cover;
    
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}

.Qr {
    position: fixed;
    top: 9px;
    right: 12px;
     background: transparent;
     border: none;
     transition: all 0.2s ease;
     outline: none;
     color: transparent;
}
.Qr :active{
    transform: scale(.96);
}

/* Finalizar fiesta*/
.end-party {
    position: absolute;
    box-shadow: 0 0 5px #3E2F45,
    0 0 25px #3E2F45;
    width: 210px;
    height: 50px;
    border: none;
    border-radius: 15px;
    background: linear-gradient(87deg, #9A2BD2 0%, #9D9C9C 250.25%);
    color: #fff;
    cursor: pointer;
    bottom: 20px;
    font-weight: 500;
    font-size: 23px;
    font-family: inter, sans-serif;
    transition: all 0.2s ease;
}
.end-party:active {
    transform: scale(.96);
}
    
/* Sacamos el resaltado azul al hacer click en celular */
a {
    -webkit-tap-highlight-color: transparent;
}

/* Estilo para el contenedor de canciones */
#song-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo para cada canción en el contenedor */
.song-item {
    background-color: transparent; /* Fondo transparente */
    border: 2px solid #fff; /* Borde blanco de 2 píxeles */
    border-radius: 0px; /* Borde sin redondear */
    margin: 0; /* Quita el margen para que estén pegados */
    padding: 0; /* Quita el padding */
    text-align: center;
    display: flex; /* Cambia el tipo de display a flex */
    align-items: center; /* Centra verticalmente los elementos */
    width: 375px; /* Establece el ancho a 375px */
    height: 68px; /* Establece la altura a 68px */
}

/* Estilo para las imágenes dentro de las canciones */
.song-item img {
    width: 48px;
    height: 49px;
    border-radius: 9px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    margin-left: 15px;
}

/* Estilo para el título de la canción */
.song-item .song-title {
    font-weight: 700;
    font-size: 13px;
    color: #ffffff; 
}

/* Estilo para el nombre del artista */
.song-item .song-artist {
    font-size: 13px;
    font-weight: 400;
    color: #a42222; /* Color de texto más claro */
}

/* Estilo para el mensaje "Todavía no se pidió ninguna canción." */
.no-songs {
    font-size: 18px;
    color: red;
    text-align: center;
}

