body {
    padding: 0px;
    margin: 0px;
    font-family: Inter, Coolvetica, Museo-Moderno, sans-serif;
    background-image: url(/Assets/binevenida.png);
    background-size: cover;

}

.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.min-h-screen {
    min-height: 100vh;
}

.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}

#qr-container img {
    position: absolute;
    right: 83px;
    left: 83px;
    top:174px;
    width: 203px;
    height: 203px;
    border-radius: 15px;
}
.but{
    top: 417px;
    position: absolute;
    display: flex;
    flex-direction: row;
}
  

.shareButton{
margin-right: 23px;
background-color: transparent;
border: 3px solid;
width: 158px;
height: 50px;
stroke-width: 3px;
stroke: #9A2BD2;
filter: drop-shadow(0px 0px 0.7020000219345093px #5A3766) drop-shadow(0px 0px 1.4040000438690186px #5A3766) drop-shadow(0px 0px 4.914000034332275px #5A3766) drop-shadow(0px 0px 9.82800006866455px #5A3766) drop-shadow(0px 0px 16.847999572753906px #5A3766) drop-shadow(0px 0px 29.483999252319336px #5A3766);
}

.guardarButton{ 
        font-family:Inter;
          width: 158px;
          height: 50px;
          border: none;
          border-radius: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          font-weight: 600;
          font-size: 20px;
          background: linear-gradient( to right,#9A2BD2,#c73bfe);
          box-shadow: 0 20px 30px -7px rgba(184, 51, 236, 0.5);
          cursor: pointer;
        }
        
