body {
    padding: 0px;
    margin: 0px;
    font-family: Inter, Coolvetica, Museo-Moderno, sans-serif;
}

nav.nav {
    position: fixed;
    top: 0;
    padding: 5px;
    width: 100vw;
}
.nav>h1 {
    font-weight: 400;
    color: white;
    font-size: 15px;
    font-family: MuseoModerno;
    margin-top: 12px;
    margin-left: 12px;
    opacity: 0;
}
.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.min-h-screen {
    min-height: 100vh;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.main-bg{
    background-image: url(/Assets/binevenida.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: auto;
  }

/* formulario ,user,password, */
div>form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form>input{
    width: 250px;
    height: 50px;
    border: 1px solid #9D9C9C;
    border-radius: 5px;
    margin: 20px;
    padding: 5px;
    background-color: transparent;
    font-size: 1rem;
    outline: none;
    color: white;
}


/* input usuario */
.input-container{
    display: flex;
    top: 40px;
    margin: 20px;
    height: 50px;
    width: 260px;
    position: relative;
}
/* texto usuario */
.label{
    font-family: inter;
    position: absolute;
    left: 10px;
    top: 18px;
    transition: all 0.2s;
    padding: 0 2px;
    z-index: 1;
    color: #b3b3b3;
}
/* texto ingresa tu usuario */
.text-input{
    padding: 15px;
    width: 250px;
    height: 25px;
    border: 2px solid #9D9C9C;
    background: transparent;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    transition:all .3s;
    color: #fff;
}
/* cuadradito abajo de Usuario */
.label::before{
content: "";
height: 5px;
background-color: #120618;
position: absolute;
left: 0;
top: 10px;
width: 100%;
z-index: -1;
}
/* borde al clickear */
.text-input:focus{
    border: 2px solid #9A2CD1;
}
/* texto al clickear */
.text-input:focus+.label,
.filled{
    top: -10px;
    color: #ffffff;
    font-size: 14px;
}
/* animacion de ingresa tu usuario */
.text-input::placeholder{
    font-size: 16px;
    opacity: 0;
    transition: all .3s;
}
/* opacidad ingresar usuario */
.text-input:focus::placeholder{
    opacity: 1;
    animation-delay: 0.2s;
}

/* esto hace que si tiene algo 
escrito el usuario se quede arriba */
.text-input:focus+label,
.text-input:valid+label{
    top: -10px;
    color: whitesmoke;
    font-size: 14px;
}
/* termina input usuario */

/* arranca input contraseña */

/* input contraseña */
.input1-container1{
    display: flex;
    top: 40px;
    margin: 20px;
    height: 50px;
    width: 260px;
    position: relative;
}
/* texto contraseña */
.label1{
    font-family: inter;
    position: absolute;
    left: 10px;
    top: 18px;
    transition: all 0.2s;
    padding: 0 2px;
    z-index: 1;
    color: #b3b3b3;
}
/* texto ingresa tu usuario */
.text1-input1{
    padding: 15px;
    width: 250px;
    height: 25px;
    border: 2px solid #9D9C9C;
    background: transparent;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    transition:all .3s;
    color: #fff;
}
/* cuadradito abajo de Usuario */
.label1::before{
content: "";
height: 5px;
background-color: #120618;
position: absolute;
left: 0;
top: 10px;
width: 100%;
z-index: -1;
}
/* borde al clickear */
.text1-input1:focus{
    border: 2px solid #9A2CD1;
}
/* texto al clickear */
.text1-input1:focus+.label1,
.filled{
    top: -10px;
    color: #ffffff;
    font-size: 14px;
}
/* animacion de ingresa tu usuario */
.text1-input1::placeholder{
    font-size: 16px;
    opacity: 0;
    transition: all .3s;
}
/* opacidad ingresar usuario */
.text1-input1:focus::placeholder{
    opacity: 1;
    animation-delay: 0.2s;
}

/* esto hace que si tiene algo 
escrito el usuario se quede arriba */
.text1-input1:focus+.label1,
.text1-input1:valid+.label1{
    top: -10px;
    color: whitesmoke;
    font-size: 14px;
}

/* termina input contraseña */


/* Crescendo gradient */
.header-gradient{
    background: linear-gradient(278deg, #b27ecc 4.08%, #9A23D6 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 45px;
    margin-top: -180px;
    font-family:Inter ;
}
/* Eleva tus fiestas */
.color-gray {
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color: #9D9C9C;
    margin-top: -30px;
}

/* iniciar fiesta btn */
.login-cta {
    position: absolute;
    justify-content: center;
    box-shadow: 0 0 5px #3E2F45,
    0 0 25px #3E2F45;
    width: 195px;
    height: 50px;
    border: none;
    border-radius: 15px;
    background: linear-gradient(87deg, #9A2BD2 0%, #9D9C9C 250.25%);
    color: #fff;
    cursor: pointer;
    bottom: 165px;
    font-size: 24px;
}

