body {
    padding: 0px;
    margin: 0px;
    font-family: Inter, Coolvetica, Museo-Moderno, sans-serif;
}

nav.nav {
    position: fixed;
    top: 0;
    padding: 5px;
    width: 100vw;
}
.nav>h1 {
    font-weight: 400;
    color: white;
    font-size: 15px;
    font-family: MuseoModerno;
    margin-top: 12px;
    margin-left: 12px;
    /* recomendacion de chona, sacar el nav */
    opacity: 0;
}
.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.min-h-screen {
    min-height: 100vh;
}

.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.main-bg{
    background-image: url(/Assets/binevenida.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: fixed;
}


        #content {
            max-width: 600px;
            background-color: transparent;
        }

        h1 {
            position: absolute;
            top: 124px;
            left: 100px;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-family: Inter,sans-serif;
            width: 175px;
            color: #FFF;
            font-size: 27px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            color: #ffffff;
        }

        #createPartyButton {
            right: 15px;
            top: 15px;
            position: absolute;
            width: 159px;
            height: 44.5px; 
            font-size: 17px;
            font-family: Inter;
            color: rgb(0, 0, 0);
            background-color: #ffffff;
            border: none;
            border-radius: 15px;
            cursor: pointer;
        }

        #partiesList {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100vw;
            height: 390px;
            overflow-x: auto;
        }
        
        .party {
            position: relative;
            padding: 5px;
            margin: 5px 0;
            background-color: transparent;
            border-radius: 5px;
            cursor: pointer;
            color: #F5F5F5;
            font-family: Inter;
            font-size: 17px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-decoration-line: underline;
            left: 0; /* Añadido para iniciar desde la izquierda */
        }
        
        .party::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100vh;
            height: 1px;
            background-color: #656565;
            filter: blur(1px);
        }
        
        .header-peticion {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: transparent;
            text-align: center;
            position: absolute;
            top: 0;
            width: 100%;
        }
        .requests-title {
            font-size: 18px;
            position: absolute;
            top: 180px; /* Mismo valor que el top aquí */
            left: 22px;
            color: #FFF;
            font-family: Inter;
            font-size: 18px;
            font-weight: 700;
        }
        .stroke {
            height: 4px;
            background-color: #888;
            position: absolute; /* Añadido para posicionar */
            top: 210px; /* Mismo valor que el top aquí */
            left: 104px;
            width: 350px;
            border-radius: 20px;
            filter: blur(1px);
        }
        .strokeito{
            height: 4px;
            background-color: #888;
            position: absolute; /* Añadido para posicionar */
            top: 210px; /* Mismo valor que el top aquí */
            left: 1px;
            width: 13.2px;
            border-radius: 20px;
            filter: blur(1px);
        }

 