body {
    padding: 0px;
    margin: 0px;
    font-family: Inter, Coolvetica, Museo-Moderno, sans-serif;
}
.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.min-h-screen {
    min-height: 100vh;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.main-bg{
    background-image: url(/Assets/binevenida.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
overflow-y: auto;
overflow-x: hidden; 
}

.Qr {
    position: absolute;
    top: 4px;
    right: 12px;
     background: transparent;
     border: none;
     transition: all 0.2s ease;
     outline: none;
     color: transparent;
}
.Qr :active{
    transform: scale(.96);
}
/* Finalizar fiesta*/
.end-party {
    position: absolute;
    box-shadow: 0 0 5px #3E2F45,
    0 0 25px #3E2F45;
    width: 210px;
    height: 50px;
    border: none;
    border-radius: 15px;
    background: linear-gradient(87deg, #9A2BD2 0%, #9D9C9C 250.25%);
    color: #fff;
    cursor: pointer;
    bottom: 45px;
    font-weight: 500;
    font-size: 23px;
    font-family: inter, sans-serif;
    transition: all 0.2s ease;
    text-align: center;
    align-items: center;
    line-height: 50px;
}
.end-party:active {
    transform: scale(.96);
}
button{
    -webkit-tap-highlight-color: transparent;
}
    
/* Sacamos el resaltado azul al hacer click en celular */
a {
    -webkit-tap-highlight-color: transparent;
}
/* Estilo para el contenedor de canciones */
#song-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 86px;
    align-items: center;
    width: 375px;
    max-height: 138px;
}
/* Estilo para cada canción en el contenedor */
.song-item {
    background-color: transparent;
    text-align: center;
    display: flex;
    align-items: center;
    width: 100vw; 
    height: 68px;
    position: relative;
}
.song-item::before {
    content: "";
    position: absolute;
    bottom: 1px;
    right: 0px;
    width: 80.5%; /* Establece el ancho del gradiente al 100% del elemento */
    height: 2px; /* Ajusta el grosor del "stroke" */
    background-color: #656565; /* Color del "stroke" */
    border-radius: 20px;
    filter: blur(1px);
}
/* Añade una clase especial para el último song-item del scroll */
#song-container .song-item:last-child::before {
    display: none; /* Oculta el stroke en el último song-item */
}
/* Estilo para las imágenes dentro de las canciones */
.song-item img {
    width: 48px;
    height: 49px;
    border-radius: 9px;
    margin-left: 15px;
}
/* Estilo para el título de la canción */
.song-item .song-title {
    text-align: left;
    margin-left: 10px;
    color: #F5F5F5;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 160px; /* Ancho máximo */
    white-space: nowrap; /* Evita el salto de línea */
    overflow: hidden; /* Oculta el exceso de texto */
    text-overflow: ellipsis; /* Muestra puntos suspensivos */
}
/* Estilo para el nombre del artista */
.song-item .song-artist {
    margin-left: 10px;
    margin-top: -10px;
    text-align: left;
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 0;
    line-height: normal;
    max-width: 160px; /* Ancho máximo */
    white-space: nowrap; /* Evita el salto de línea */
    overflow: hidden; /* Oculta el exceso de texto */
    text-overflow: ellipsis; /* Muestra puntos suspensivos */
}

.song-item .request-number {
    margin-left: 10px;
    margin-top: -10px;
    text-align: left;
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 0;
    line-height: normal;
    max-width: 160px; /* Ancho máximo */
    white-space: nowrap; /* Evita el salto de línea */
    overflow: hidden; /* Oculta el exceso de texto */
    text-overflow: ellipsis; /* Muestra puntos suspensivos */
}

/* Estilo para el mensaje "Todavía no se pidió ninguna canción." */
.no-songs {
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-align: center;
}
/* Estilo para los botones de "Aceptar canción" y "Rechazar canción" */
.song-item button {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    position: absolute; /* Usamos posición absoluta */
    top: 12px; /* Lo centramos verticalmente */
    width: 20%;
    height: 34px;
}
/* Estilo para los botones de "Aceptar canción" */
.accept-song {
    color: #135716; /* Verde */
    right: 13px;
    background: rgba(64, 237, 71, 0.82); /* Fondo verde con transparencia */
    border-radius: 9px;
    box-shadow: 0px 0px 0.2736000120639801px 0px #B1DD8B, 0px 0px 0.5472000241279602px 0px #B1DD8B, 0px 0px 1.9151999950408936px 0px #B1DD8B, 0px 0px 3.830399990081787px 0px #B1DD8B, 0px 0px 6.566400051116943px 0px #B1DD8B, 0px 0px 11.49120044708252px 0px #B1DD8B;
    border: 3px solid #135716; /* Borde verde */
    font-size: 30px;
    
}
/* Estilo para los botones de "Rechazar canción" */
.reject-song {
    color: #571B13; /* Rojo */
    right: 73px;
    background: rgba(237, 106, 64, 0.82); 
    border-radius: 9px;
    margin-right: 26px;
    border: 3px solid #571B13; /* Borde rojo */
    box-shadow: 0px 0px 0.2736000120639801px 0px rgba(237, 106, 64, 0.82), 0px 0px 0.5472000241279602px 0px rgba(237, 106, 64, 0.82), 0px 0px 1.9151999950408936px 0px rgba(237, 106, 64, 0.82), 0px 0px 3.830399990081787px 0px rgba(237, 106, 64, 0.82), 0px 0px 6.566400051116943px 0px rgba(237, 106, 64, 0.82), 0px 0px 11.49120044708252px 0px rgba(237, 106, 64, 0.82);
    font-size: 30px;
    text-align: center; /* Centra horizontalmente */
}


.header-peticion {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
}
.requests-title {
    font-size: 18px;
    position: absolute;
    top: 41px; /* Mismo valor que el top aquí */
    left: 22px;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    z-index: 10000000000000;
}
.stroke {
    margin-left: 5px;
    height: 4px;
    background-color: #888;
    position: absolute; /* Añadido para posicionar */
    top: 70px; /* Mismo valor que el top aquí */
    left: 116px;
    width: 100vw;
    border-radius: 20px;
    filter: blur(1px);
    z-index: 100000000000000;
    overflow-x: hidden; 
}
.strokep {
    margin-left: 5px;
    height: 4px;
    background-color: #888;
    position: absolute; /* Añadido para posicionar */
    top: 70px; /* Mismo valor que el top aquí */
    left: 195px;
    width: 100vw;
    border-radius: 20px;
    filter: blur(1px);
    z-index: 100000000000000;
    overflow-x: hidden; 
}
.strokeito{
    height: 4px;
    background-color: #888;
    position: absolute; /* Añadido para posicionar */
    top: 70px; /* Mismo valor que el top aquí */
    left: 1px;
    width: 13.2px;
    border-radius: 20px;
    filter: blur(1px);
}
.accept-peticion {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    position: absolute;
    width: 100vw;
    top: 159px;
    left: 0px;
}
.accepted-title {
    font-size: 18px;
    position: absolute;
    top: 41px; /* Mismo valor que el top aquí */
    left: 20px;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    z-index: 100000000000000;
}
.reject-peticion {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    text-align: center;
    position: absolute;
    width: 100vw;
    top: 330px;
    left: 0px;
}
.rejected-title {
    position: absolute;
    margin-top: 0px;
    top: 41px; /* Mismo valor que el top aquí */
    left: 22px;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    z-index: 1000000000000;
}
.reject-peticion > .stroke{
    width: 100vw;
    margin-left: 5px;
    top: 70px; /* Mismo valor que el top aquí */
    left: 128px;
    overflow-x: hidden; 
}


.reject-peticion > .strokeito-rejected{
    height: 4px;
      background-color: #888;
      position: absolute; /* Añadido para posicionar */
      top: 70px; /* Mismo valor que el top aquí */
      left: 1px;
      width: 13.2px;
      border-radius: 20px;
      filter: blur(1px);
  }
  

/* Estilo para canciones aceptadas */
.accepted {
background: linear-gradient(270deg, rgba(46, 126, 18, 0.51) 0%, rgba(46, 126, 18, 0.00) 100%);
  }
  
  /* Estilo para canciones rechazadas */
  .rejected {
background: linear-gradient(270deg, rgba(105, 16, 16, 0.51) 0%, rgba(172, 27, 27, 0.00) 100%);
  }
  .song-container-accepted{
    position: absolute;
    height: 148px;
    width: 100vw;
   margin-top: -42px;
    overflow-y: auto;
    background-color: transparent;
  }
  .song-container-rejected{
    position: absolute;
    height: 128px;
    margin-top: -83px;
    width: 100vw;
overflow-y: auto;
background-color: transparent;
}
/* Estilos para el spinner */
.spinner {
    position: fixed; /* Posicionamiento fijo en la pantalla */
    top: 50%; /* Centrado verticalmente */
    left: 45%; /* Centrado horizontalmente */
    transform: translate(-50%, -50%); /* Ajuste fino para centrar exactamente */

}


.dot {
    width: 4px; /* Tamaño de los puntitos */
    height: 4px; /* Tamaño de los puntitos */
    background-color: white; /* Color de los puntitos */
    border-radius: 50%; /* Hace los puntitos redondos */
    position: absolute; /* Posicionamiento absoluto dentro del spinner */
    top: 50%;
    left: 50%;
    transform-origin: 20px; /* Ajusta el radio del círculo */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Aplicar la animación a cada dot con un ligero retraso para cada uno */
.dot:nth-child(1) { animation: spin 1s linear infinite; }
.dot:nth-child(2) { animation: spin 1s linear infinite; animation-delay: -0.9s; }
.dot:nth-child(3) { animation: spin 1s linear infinite; animation-delay: -0.8s; }
.dot:nth-child(4) { animation: spin 1s linear infinite; animation-delay: -0.7s; }
.dot:nth-child(5) { animation: spin 1s linear infinite; animation-delay: -0.6s; }
.dot:nth-child(6) { animation: spin 1s linear infinite; animation-delay: -0.5s; }
.dot:nth-child(7) { animation: spin 1s linear infinite; animation-delay: -0.4s; }
.dot:nth-child(8) { animation: spin 1s linear infinite; animation-delay: -0.3s; }



@media screen and (max-width: 767px) {
    .song-item button {
        width: -10%; /* O ajusta según sea necesario */
    }

    .accept-song, .reject-song {
        width: -10%; /* O ajusta según sea necesario */
    }
}