/* Hello page.css */
/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Fondo de pantalla completa */
.background {
    background-image: url(/Assets/binevenida.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* Key frames animacion title*/
@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform:translateY(0px) scale(1) ;
    }
}
/* Key frames animacion logo */


/* Titulo */
h1 {
    font-family: 'Coolvetica Regular', sans-serif; 
    color: #fff;
    font-size: 30px;
    font-weight: 560;
    opacity: 0.94;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade-up 0.5s 0.2s backwards;
}
.emoji {
    font-size: 30px;
    margin-left: 5px;
}

/* Formulario de inicio de sesión */
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Campos de entrada de info (username y contraseña) */
input[type="text"],
input[type="password"] {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    border-color: antiquewhite;
    border-radius: 5px;
    background-color: #0e0e10;
    color: #fff;
    font-size: 14px;
    outline: none;
}

/* Botón de inicio de sesión */
button.Neon {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1a1a1d;
    color: #fff;
}

