
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width:100% ;
    height: 100%;
    font-family: Arial, sans-serif;

}
.Flex-Container {
position: relative;
}

/* Fondo de pantalla completa */
.background {   
    background: linear-gradient(to left,#9D9C9D 4.08%, #9A23D6 100%);
    background-image: url(/Assets/binevenida.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 375px;
    height: 667px;
}

/* Key frames animacion title */
@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
.Low-part {
    background-color: transparent;

}

.Upper-part {
background-color: aqua;
align-items: center;
justify-content: center;

}
/* Titulo */
.title-container {
    background: linear-gradient(288deg, #110517 -50.08%, #9D9C9C 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: -160px;
    right: -40px;
    width: 328px;
    height: 102;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
}
.pink{
    background: linear-gradient(to left, #9D9C9D -40.08%, #9A23D6 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.Bold {
    font-family: Inter;
    font-weight: 400;
    font-size: 28px

}

/*  parrafo bienvenida 👋 */ 
.Speaking {
    color: #9D9C9C;
    width: 314px;
    height: 45px;
font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

/* Formulario de inicio de sesión */
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%; /* Ancho del formulario */
    margin: 0 auto; /* Centrar el formulario */
}

/* Campos de entrada de info (username y contraseña) */

input[type="text"],
input[type="password"] {
    width: 200px; 
    padding: 15px;
    margin: 18px 0;
    border: 1px solid #9D9C9C;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0); 
    color: #fff;
    font-size: 14px;
    outline: none;
}


/* iniciar sesion boton */
.But1{
    box-shadow: 0 0 5px #3E2F45,
    0 0 25px #3E2F45;
    width: 195px;
height: 50px;
flex-shrink: 0;
    position: absolute;
    bottom: -140px;
    left: 60px;
    width: 195px;
flex-shrink: 0;
    border: none;
    border-radius: 5px;
    background: linear-gradient(87deg, #9A2BD2 0%, #9D9C9C 250.25%);
    color: #fff;
}
.But1:hover {
    box-shadow: 0 0 5px #4E3E55,
    0 0 10px #4E3E55, 0 0 25px #4E3E55,
    0 0 20px #4E3E55, 0 0 40px #4E3E55;
}
.register-text {
    position: absolute;
    left: 70px;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #9D9C9C;
    margin-top: -15px; /* Puedes ajustar este valor según tu preferencia */
}


.custom-link {
    font-family: 'Inter.bold', sans-serif;
    color: #036CCD;
    line-height: normal;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    
}
 