/* En Qr code.css */

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #ADD8E6, #1E90FF, #00BFFF);
    margin: 0;
    padding: 0;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.song-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.song-item {
    margin-bottom: 10px;
}

.song-title {
    font-size: 18px;
    margin-right: 10px;
}

.accept-btn,
.reject-btn,
.end-party-btn {
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: #fff;
}

.accept-btn {
    background-color: #28a745;
}

.reject-btn {
    background-color: #dc3545;
}

.end-party-btn {
    background-color: #007bff;
}

.end-party-btn:hover {
    background-color: #0056b3;
}

/* Estilos para el botón de regresar */
.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.back-btn:hover {
    text-decoration: underline;
}
