
body {
    padding: 0px;
    margin: 0px;
    font-family: Inter, Coolvetica, Museo-Moderno, sans-serif;

}
.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.min-h-screen {
    min-height: 100vh;
}
.main-bg {

    background-image: url(/Assets/binevenida.png);
    background-position: center;
    background-size: cover;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}

.Qr {
    position: fixed;
    top: 9px;
    right: 12px;
     background: transparent;
     border: none;
     transition: all 0.2s ease;
     outline: none;
     color: transparent;
}
.Qr :active{
    transform: scale(.96);
}

/* Finalizar fiesta*/
.end-party {
    position: absolute;
    box-shadow: 0 0 5px #3E2F45,
    0 0 25px #3E2F45;
    width: 195px;
    height: 50px;
    border: none;
    border-radius: 15px;
    background: linear-gradient(87deg, #9A2BD2 0%, #9D9C9C 250.25%);
    color: #fff;
    cursor: pointer;
    bottom: 20px;
    font-size: 24px;
    transition: all 0.2s ease;
}
.end-party:active {
    transform: scale(.96);
}
    
/* Sacamos el resaltado azul al hacer click en celular */
a {
    -webkit-tap-highlight-color: transparent;
}


#song-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.song-item {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.song-item img {
    max-width: 200px;
    max-height: 200px;
}
.no-songs {
    font-size: 18px;
    color: red;
    text-align: center;
  }

  .song.name{
    color: #fff;
  }
  